<configuration>

	<appender name="PRODUCTS-JSON-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>output/json/amzproducts.json</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>output/json/amzproducts.%d{yyyy-MM}-%d{dd.HH.mm.ss,aux}.%i.json.gz</fileNamePattern>
			<maxHistory>5</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="PRODUCTS-XML-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>output/xml/amzproducts.xml</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>output/xml/amzproducts.%d{yyyy-MM}-%d{dd.HH.mm.ss,aux}.%i.xml.gz</fileNamePattern>
			<maxHistory>5</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>


	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%date{ISO8601} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/amazon.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>logs/archive/amazon.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>20MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%date{ISO8601} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- additivity=false ensures analytics data only goes to the analytics log -->
	<logger name="jsonproductlogger" level="INFO" additivity="false">
		<appender-ref ref="PRODUCTS-JSON-FILE" />
	</logger>
	<logger name="xmlproductlogger" level="INFO" additivity="false">
		<appender-ref ref="PRODUCTS-XML-FILE" />
	</logger>

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>